@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tiki Tropic";
  src: url("../assets/tiki-tropic.bold.ttf");
}

body {
  font-family: "Tiki Tropic";
  margin: 0;
}

#pressE {
  position: absolute;
  bottom: 8rem;
  background: #fffb;
  padding: 2rem;
  display: grid;
  place-items: center;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
