#scroll-container {
  margin: 0 auto;
  left: 50%;
  height: calc(100vh - 2rem);
  transform: translateX(-50%);
}

#scroll-container .scroll-content {
  height: calc(100% - 2rem);
}

iframe {
  background: #f5dc9f !important;
}
